include CITATION.cff
include LICENSE
include README.md
include .napari-hub/DESCRIPTION.md
include .napari-hub/config.yml
include brainrender_napari/napari.yaml
exclude .pre-commit-config.yaml
graft brainrender_napari

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
